html {
  background-color: var(--bg-primary);
}

body {
  margin: 0 0 80px 0;
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: 8px auto;

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

p {
  color: var(--text-primary);
}

a:link {
  font-family: sans-serif;
  font-weight: bold;
  color: var(--text-link);
}

a:visited {
  font-family: sans-serif;
  font-weight: bold;
  color: var(--text-link-visited);
}

hr {
  border-color: var(--text-disabled);
  margin: 32px 0;
}

#wrapper {
  display: flex;
  justify-content: center;

  color: var(--text-primary);
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 80px;
  background-color: var(--bg-secondary);
  margin-bottom: 32px;
}

main {
  width: 920px;
}

.button {
  width: 80px;
  height: 32px;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family: sans-serif;
  font-size: 10pt;

  text-align: center;
  vertical-align: middle;

  border: 2px solid;
}

.button:link,
.button:visited {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.button:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
}

#back-button {
  line-height: 32px;
  text-decoration: none;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 32px;

  text-align: center;
}

.spoiler-img img {
  vertical-align: bottom;
  filter: blur(16px);
  transition: 0.2s;

  z-index: 0;
}

.spoiler-img img:hover {
  cursor: pointer;
  filter: none;
  transition: 0.8s;
}

.spoiler-span {
  background-color: var(--bg-secondary);
  color: var(--bg-secondary);
  transition: 0.2s;
}

.spoiler-span:hover {
  cursor: pointer;

  background-color: inherit;
  color: inherit;
  transition: 0.8s;
}

.meta {
  background-color: var(--bg-secondary);

  border-radius: 8px;
  padding: 8px 16px;

  margin-top: 32px;
  margin-bottom: 16px;

  width: 100%;
  box-sizing: border-box;
}

.meta-title {
  margin: 0;
}

.meta-en-title {
  color: var(--text-secondary);
  margin: 0;
}

.meta-small {
  color: var(--text-secondary);
  font-size: 11pt;
  margin: 0;
}

.info-box {
  background-color: var(--bg-info);
  border-radius: 4px;
  border: 2px solid var(--info-border);

  padding: 0 8px;

  margin-bottom: 16px;
}

.note {
  color: var(--text-secondary);

  border: 2px solid var(--bg-secondary);
  border-radius: 8px;

  margin: 16px 0;
  padding: 8px 16px;
}

.lyric-box {
  display: grid;
  grid-template-columns: 1fr 10fr 10fr;
  grid-gap: 8px;
}

.lyric-box:hover {
  background-color: var(--bg-highlight);
  cursor: pointer;
}

.lyric-box:hover .lyric-time {
  color: var(--text-primary);
}

.lyric-time {
  color: var(--text-disabled);

  margin: 0;
  grid-column: 1;
}

.lyric-text {
  margin: 0;
  grid-column: 2;
}

.lyric-og {
  color: var(--text-secondary);
  text-align: right;
  text-align-last: right;

  margin: 0;
  grid-column: 3;
}

.lyric-command-left {
  color: var(--text-secondary);
}

.lyric-command-right {
  color: var(--text-disabled);
}

@media screen and (width < 600px) {
  main {
    width: 90%;
  }

  .lyric-box {
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-gap: 0 12px;
  }

  .lyric-time {
    grid-row: 1 / 3;
  }

  .lyric {
    grid-row: 1;
  }

  .lyric-og {
    text-align: left;
    text-align-last: left;

    grid-row: 2;
    grid-column: 2;
  }
}

.lyric-faded {
  color: var(--text-disabled);
  margin: 0;
}

.lyric-note {
  cursor: pointer;
  background-color: var(--bg-secondary);
}

.instrumental {
  color: var(--text-secondary);
  width: 100%;
  text-align: center;

  margin: 8px 0;
}

/* https://stackoverflow.com/a/69353021 */
.abbr[data-title] {
  position: relative;
  text-decoration: underline dotted;
}

.abbr[data-title]:hover::after,
.abbr[data-title]:focus::after {
  content: attr(data-title);

  position: absolute;

  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  border: 1px solid var(--bg-secondary);
  border-radius: 4px;

  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 4px 8px;
}
